@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Manrope', sans-serif;
    color: #FFF;
    background-image: linear-gradient(to top, #4fe5f2, #1bd7ff, #65c1ff, #b3a3ff, #ee7ee0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    min-height:120vh;
    max-width: 200vw;
    overflow-y: scroll;
}

header h1{
    font-size: 4em;
    text-align: center;
}

header form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



h1{
    font-size: 2em;
    margin: 50px;
}



input{
    width: 400px;
    height: 35px;
    margin-left: 20px;
    border: 1px  black;
    border-radius: 10px;
    font-size: 1.1em;
    font-display: center;
    text-align: center;
    transition: .5s ease-in-out;
}

input:focus {
    background: #0101;
    border: 2px  black;
    transition: .5s ease;
}

